div {
  background: lightblue;
  padding: 1em;
  margin: 1em;
}

section {
 display: flex;
 border: 1px solid red;
 background: pink;
 margin: 1em auto 1em auto;;
}

section:first-child {
  border-color: green;
  background: green;
}
section:first-child div {
  background: blue;
}
